<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_patient_root"
              name="Patient Management"
              sequence="10" web_icon="patient,static/description/icon.png"/>

    <menuitem id="menu_patient"
              name="Patients"
              parent="menu_patient_root"
              action="action_patient"
              sequence="1"/>

</odoo>