<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_lab_root" name="Laboratory" sequence="10" web_icon="laboratory,static/description/icon.png"/>

    <menuitem id="menu_lab_config" name="Configuration" parent="menu_lab_root" sequence="1"/>
    <menuitem id="menu_lab_orders" name="Orders" parent="menu_lab_root" sequence="2"/>
    <!-- <menuitem id="menu_lab_results" name="Results" parent="menu_lab_root" sequence="3"/> -->
    
    <menuitem id="menu_lab_test_type" name="Test Types" parent="menu_lab_config" action="action_lab_test_type" sequence="1"/>
    <!-- <menuitem id="menu_lab_test_parameter" name="Test Parameters" parent="menu_lab_config" action="action_lab_test_parameter" sequence="2"/> -->

    <!-- <menuitem id="menu_lab_order_main" name="Lab Orders" parent="menu_lab_orders" action="action_lab_order" sequence="1"/> -->
    <menuitem id="menu_lab_order_line" name="Lab Orders" parent="menu_lab_orders" action="action_lab_order_line" sequence="2"/>
</odoo>
